# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
photo-viewer/
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Docker
*.log

# OS
.DS_Store
Thumbs.db

# AWS
AWSCLIV2.pkg
